In [17]:
import pandas as pd
import numpy as np

def f(x,y):
    return (-2.2067*1e-12)*((y**4)-81*(1e8))

x0 = 0
y0 = 1200

def euler(xn,h):
    res = y0
    steps = int((xn-x0)/h)
    for i in range(1,steps+1):
        res = res + f(x0+h*i,res)*h
    return res

def main():
    real_ans = 647.57
    xn = 480
    h = [480,240,120,60,30]
    fake_ans = []
    et = []
    et_ab = []
    for i in h:
        res = euler(xn,i)
        fake_ans.append(res)
        et.append(np.abs(real_ans-res))
        et_ab.append(np.abs((res-real_ans)/real_ans)*100)
    
    d = {"step" : h, "theta" : fake_ans, "error": et, "error(%)": et_ab}
    table = pd.DataFrame(data = d)
    display(table)
        
    # print(f(106.09,0))

if __name__ == "__main__":
    main()

   step       theta        error    error(%)
0   480 -987.810648  1635.380648  252.541138
1   240  110.317400   537.252600   82.964405
2   120  546.774977   100.795023   15.565116
3    60  614.966141    32.603859    5.034801
4    30  632.766663    14.803337    2.285983